body {
    max-width: 1200px;
    margin: auto;
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    padding: 20px;
}
header{
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
}
#contact ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 15px;
    border: 2px solid;
    margin: 8px;
}
img.logo {
    height: 80px;
}
section#home {
    text-align: center;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    border: 2px solid #000;
    max-width: 100%;
}
nav ul li a {
    text-decoration: none;
    font-size: larger;
    /* list-style-type: cjk-heavenly-stem; */
    color: black;
}
section#soft {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: center;
    }

section#examples {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    column-gap: 20px;
    row-gap: 20px;
}
.navigatoion ul li {
    padding: 5px;
    /* display: flex; */
    /* flex-direction: column; */
    list-style-type: none;
    /* color: black; */
}
iframe {
    max-width: 100%;
}
.borderSoft {
    border: 2px solid;
    margin: 10px;
    padding: 10px;
}

.link {
    border: 2px solid;
    margin: 10px;
    padding: 10px;
}
form#my-form {
    display: flex;
    flex-direction: column;
    max-width: 327px;
    align-items: center;
    margin-top: 10px;
    border: 2px solid;
    padding: 15px;
    height: 135px;
}

section#question {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

footer {
    /* display: flex; */
    padding: 20px;
    text-align: center;
}

div#contact {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0px;
}

h3 {
    margin: 5px;
}
button#my-form-button {
    margin-top: 15px;
}

.active ul {
    display: flex;
    justify-content: center;
}
div#logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logoText{
    margin-left: 20px;
    font-size: 27px;
}
a:hover {
    font-size: xx-large;
}
img#burgerImg {
    display: none;
}

@media (max-width: 700px) {
    body{
        max-width:700px;
    }
    main section#soft{
        display: grid;
        grid-template-columns: 1fr;
    }
    section#examples{
        display: grid;
        grid-template-columns: 1fr;
    }
    section#question {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    img#burgerImg {
        display: block;
        width: 15px;
        border: 2px solid;
        padding: 5px;
        justify-self: end;
        align-self: end;
    }
    .active ul{
        display:none;
    }
    ul.hidden {
        display: block;
        position: absolute;
        right: 40px;
        background-color: #ededed;
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 0;
    }
    .navigatoion{
        grid-column: 2 / 3;
        justify-self: end;
    }
    .navigatoion ul li{
        border-bottom:2px solid;
    }
    .rhinoLess.rhinoDel {
        display: none;
    }
    .zbrushLess.zbrushDel {
        display: none;
    }
    .matrixLess.matrixDel {
        display: none;
    }
    .designLess.designDel {
        display: none;
    }

 }