body {
    max-width: 1920px;
    margin: auto;
    background: #dedede;
    font-family: 'Lobster', cursive;
}
header {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin-top: 25px;
    margin-right: 200px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    }

section#home {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 60%;
    box-shadow: 10px 11px 20px 0px #00000080;
    margin-top: 20px;
    border-radius: 50px;
    padding: 15px;
}

section#soft {
    display: grid;
grid-template-columns: 1fr 1fr;
}

section#examples {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}


section#question {
    display: grid;
    justify-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 11px 20px 0px #00000080;
    padding: 20px;
    border-radius: 50px;}

footer {
    display: grid;
    text-align: center;
    box-shadow: 10px 11px 20px 0px #00000080;
    margin-top: 20px;
    padding-right: 33px;
    border-radius: 50px;
}

.softBlock {
    display: grid;
    text-align: center;
    max-width: 500px;
    padding: 30px;
    box-shadow: 10px 11px 20px 0px #00000080;
    margin: 20px;
    border-radius: 83px;
}

li {
    padding: 5px;
}

div#logo {
    display: grid;
    justify-items: center;
    padding-top: 25px;
}

.link {
    padding: 20px 20px 20px 20px;
    box-shadow: 10px 11px 20px 0px #00000080;
    margin: 20px;
    border-radius: 30px;
}

form input {
    width: 300px;
    height: 25px;
    margin-bottom: 5px;
}

input[type="text"] {
    width: 300px;
    height: 25px;
    margin-bottom: 5px;
}

textarea {
    width: 300px;
    height: 80px;
    margin-bottom: 10px;
}



input[type="submit"] {
    width: 150px;
}

ul {
    list-style-type: none;
}




nav ul li {
    box-shadow: 10px 11px 20px 0px #00000080;
    margin-right: 10px;
    padding: 10px;
    border-radius: 50px;
    margin-top: 15px;
}

header div span {
    box-shadow: 10px 11px 20px 0px #00000080;
    padding: 20px;
    border-radius: 50px;
    font-size: xx-large;
    margin-left: 250px;
}

a {
    text-decoration: none;
    color: #000 !important;
}

.softBlock:hover {
    background: gold;
}

nav ul li:hover {
    background: gold;
}

iframe {
    max-width: 100%;
}

#burgerImg {
    width: 20px;
    height: 20px;
    visibility: hidden;
}

.active.hidden {
    visibility: hidden;
    height: 0;
}

.active {
    display: block;
}











@media (max-width: 700px){
        body {
        display:flex;
        flex-direction:column;
    }

        header{
        display:flex;
        flex-direction:column;
    }

        header div span {
        margin:auto;
    }

        section#soft {
        display: flex;
        flex-direction:column;
    }

       section#examples {
        display: flex;
        flex-direction:column;
    }

        nav ul {
        display: flex;
        flex-direction:column;
        max-width:150px;
        text-align:center;
        margin-top: 25px;
        margin:auto;
    }
        section#home {
        max-width:85%;

    }

    #burgerImg {
        width: 20px;
        height: 20px;  
        visibility: visible;
        box-shadow: 10px 11px 20px 0px #00000080;
        
        padding: 10px;
        border-radius: 50px;
        margin-top: 15px;
    }
}